* {
    color:white;

}

h1, h2, h3, h4 {
    text-align:center;
}

#img {
    background-image: url(Background.jpg);

}

.back {
    background-image: url("../Background.jpg");
    background-size: cover;
}

#return, #begin {
    position: relative;
    left: 265px;
    color: rgb(255, 0, 0);
    background-color: rgb(190, 230, 206);
}
